{% extends 'base.html' %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Enrolled Courses</i></h1>
        <p class="col-md-8 fs-4">
           Here are all the courses you have enrolled for. Enjoy the learning experience!
        </p>
    </div>
</div>


<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for course in courses %}
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{course.course.title}}</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                
                    <a href="{% url 'course-details' course.course.pk %}" class="btn btn-primary btn-sm w-100">Course Details</a>
            </div>
            <!-- <div class="card-footer">
                <small class="text-muted">Published 3 mins ago</small>
            </div> -->
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}